venv/
venv_clean/
__pycache__/
runs/
datasets/*.cache
*.pt
*.pth
*.onnx
*.zip
*.rar
.ipynb_checkpoints/
# Виртуальные окружения
venv/
venv_yolos/
.env/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Результаты обучения
runs/

# Датасет (если не хочешь хранить его в Git)
dataset/train/
dataset/valid/
dataset/test/

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini